

/* Footer */
footer p {
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  
  
}

footer {
  background-color: grey;
  height: 65px;
  line-height: 65px;
  padding-top: 30px;
  padding-bottom: 20px;
}
