

/* Footer */
footer p {
  color: white;
  background-color: grey;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12px;
  
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* tinggi dari footer */
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
